.card {
    position: relative;
    overflow: hidden;
    width: auto;
    display: inline-block;
    filter: drop-shadow(10px 10px 30px #000)
}

.cardInner {
    background: var(--chakra-colors-gray-900)
}

.cardBg {
    z-index: -100000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-image: linear-gradient(to left, var(--chakra-colors-brand-primary), var(--chakra-colors-brand-secondary) 100%);
    animation: spinGradient 10s linear infinite;
}

@keyframes spinGradient {
    from {
        transform: rotate(0deg) scale(1.8);
    }

    to {
        transform: rotate(360deg) scale(1.8);
    }
}