@font-face {
  font-family: "Quattrocento";
  src: url("/font/Quattrocento.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%
}

.scale-text-center .scaletext-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible-children > * {
  display: none !important;
}